.header {
  max-width: 880px;
  width: 100%;
}

.header__logo {
  max-width: 19.66%;
}

.header__line {
  max-width: 100%;
  padding-top: 41px;
}

@media (min-width: 501px) and (max-width: 768px) {
  .header {
    max-width: 100%;
  }

  .header__logo {
    max-width: 150px;
  }

  .header__line {
    padding-top: 36px;
  }
}

@media (min-width: 320px) and (max-width: 500px) {
  .header__logo {
    max-width: 126px;
  }

  .header__line {
    padding-top: 32px;
  }
}
