body {
  background-color: #000000;
}

.page {
  max-width: 880px;
  width: 100%;
  margin: 45px auto 60px;
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

@media (min-width: 769px) and (max-width: 950px) {
  .page {
    max-width: 730px;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  .page {
    max-width: 465px;
  }
}

@media (min-width: 320px) and (max-width: 500px) {
  .page {
    max-width: 282px;
  }
}
